html {
    height: 100%;
}

body {
    background: black;
    height: 100%;
    margin: 0;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

#image-background {
    background: url('../images/UA-airTRFX-chengdu.jpg');
    height: 100%;
    background-size: contain;
    width: 100%;
    opacity: 0.6;
    position: absolute;
    z-index: -99;
}
footer {
    position: fixed;
    text-align: left;
    bottom: 0;
    background: black;
    right: 0;
    left: 0;
    height: 8%;
}
header {
    margin: auto;
    position: fixed;
    height: 5%;
    width: 20%;
}
section{
    margin: 0 0 80px 0;
    text-align: center;
}
#main {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > p{
    margin: 0.5%;
}
.icon{
    height: 50px;
}
nav > a {
    border-left: 1px solid white;
    padding-left: 2%;
}
nav > a:first-child {
    border-left: 1px solid transparent;
}
.cici > img{
    width: 40%;
    height: 400px;
    margin: 1%;
    border: solid 2px white;
    border-radius: 8px;
}
.kankan >img{
    width: 40%;
    height: 400px;
    margin: 1%;
    border: solid 2px white;
    border-radius: 8px;
}
.future >img{
    width: 40%;
    height: 400px;
    margin: 1%;
    border: solid 2px white;
    border-radius: 8px;
}