html {
    height: 200%;
}
body {
    background: black;
    height: 200%;
    margin: 0;
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
#image-background {
    background: url('../images/UA-airTRFX-chengdu.jpg');
    background-size: contain;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    z-index: -99;
}
footer{
    position: fixed;
    text-align: left;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8%;
    background: black;
}
header{
    margin: auto;
    position: fixed;
    text-align: left;
    color: white;
    top: 0;
    height: 5%;
}
#main, #food, #pretty {
    margin: auto;
    position: absolute;
    top: 40%;
    left: 40%;
    bottom: 45%;
    right: 40%;
    color: rgba(255,255,255);
    text-align: center;
}
#food{
    top: 80%;
}
#pretty{
    top: 120%;
}
footer > p {
    margin: 0.5% 0;
}
.icon{
    height: 50px;
}
nav > a {
    border-left: 1px solid white;
    padding-left: 2%;
}
nav > a:first-child{
    border-left: 1px solid transparent;
}
